/* global rools */

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
/* global rools */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar ul {
  text-align: center;
  margin: 0;
}
.navbar li {
  display: inline-block;
  padding: 10px;
}
.navbar li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.navbar ul li a.active {
  color: #009688;
}
.div {
  height: 1200px;
  background-color: #eee;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 50px;
}
.div h2 {
  margin-top: 0;
}

/* up */
.up {
  position: fixed;
  bottom: 3px;
  right: 3px;
  cursor: pointer;
  display: none;
  background-color: #333;
  color: #ccc;
  border-radius: 50% 50% 0 0;
  outline: none;
  border: none;
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}
.popup .inner {
  background-color: #ccc;
  border: 1px solid #777;
  height: 300px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  position: relative;
}
.close {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
}
.showPopup {
  border-radius: 10px;
  height: 60px;
  width: 100px;
  outline: none;
  border: 2px solid #333;
  cursor: pointer;
  margin-top: 100px;
}