/* global rools */

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}

/* global rools */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 0;
  z-index: 1000;
}
.navbar ul {
  text-align: center;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: inline-block;
  padding: 10px;
}
.navbar li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.navbar ul li a.active {
  color: #009688;
}
.div {
  min-height: 1200px;
  background-color: #eee;
  margin-bottom: 10px;
  padding-top: 50px;
  text-align: center;
}

.div h2 {
  margin-top: 0;
  text-align: center;
}

/* up */
.up {
  position: fixed;
  bottom: 3px;
  right: 3px;
  cursor: pointer;
  display: none;
  background-color: #333;
  color: #ccc;
  border-radius: 50% 50% 0 0;
  outline: none;
  border: none;
}

/* popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}
.popup .inner {
  background-color: #ccc;
  border: 1px solid #777;
  height: 300px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  position: relative;
}
.close {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
}
.showPopup {
  border-radius: 10px;
  height: 60px;
  width: 100px;
  outline: none;
  border: 2px solid #333;
  cursor: pointer;
  margin-top: 100px;
}

button.btn-effects {
  border-radius: 10px;
  height: 60px;
  width: 100px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 100px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

button.btn-effects span:first-child {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
button.btn-effects span:last-child {
  position: relative;
  z-index: 2;
}
button.from-left {
  background-color: teal;
}
button.from-left span:first-child {
  background-color: yellowgreen;
  width: 0;
  height: 100%;
}

button.from-top {
  background-color: #8e44ad;
}
button.from-top span:first-child {
  background-color: #9b59b6;
  width: 100%;
  height: 0;
}
.from-middle {
  background-color: saddlebrown;
}
.from-middle span:first-child {
  width: 0;
  background-color: #fa8072;
}

.progress-bar {
  margin: 30px auto;
  border-radius: 5px;
  background-color: silver;
  width: 70%;
  height: 20px;
  border: 2px solid silver;
  position: relative;
  overflow: hidden;
}

.progress-bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  text-align: right;
  display: none;
}
.progress-bar.one span {
  background-color: #8e44ad;
  width: 0;
}
.progress-bar.two span {
  background-color: #009688;
  width: 0;
}
.progress-bar.three span {
  background-color: #005a96;
  width: 0;
}
.progress-bar.four span {
  width: 0;
  background-color: #965500;
}
/* fixed-menue */
.fixed-menue {
  position: fixed;
  background-color: #333;
  color: #eee;
  top: 0;
  left: -200px;
  margin-left: 0;
  width: 200px;
  text-align: center;
  z-index: 1000;
  height: 100%;
}
.fixed-menue div:first-child {
  background-color: #333;
  position: absolute;
  right: -26px;
  top: 38px;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.fixed-menue div .fa-gear {
  padding: 5px;
}

.fixed-menue .change-color {
  list-style: none;
  text-align: center;
  padding: 0;
}
.fixed-menue .change-color li {
  background-color: #fff;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.fixed-menue .change-color li:not(:first-child) {
  margin-left: 5px;
}

.fixed-menue .change-color [data-color="#8e44ad"] {
  background-color: #8e44ad;
}
.fixed-menue .change-color [data-color="#009688"] {
  background-color: #009688;
}
.fixed-menue .change-color [data-color="#005a96"] {
  background-color: #005a96;
}
.fixed-menue .change-color [data-color="#965500"] {
  background-color: #965500;
}
.fixed-menue .change-color [data-color="#fa8072"] {
  background-color: #fa8072;
}

/*start gallery */
.gallery {
  max-width: 800px;
  margin: 20px auto;
  border: 2px solid #ccc;
  background-color: #fff;
  padding: 2px;
}
.gallery .masert-image {
  height: 500px;
  margin-bottom: 2px;
  position: relative;
}
.gallery .masert-image img {
  width: 100%;
  height: 100%;
}
.gallery .masert-image .fa-chevron-left,
.gallery .masert-image .fa-chevron-right {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  background-color: #ccc;
  cursor: pointer;
  z-index: 2222;
  pad: 2px 5px;
  border-radius: 50%;
}
.gallery .masert-image .fa-chevron-left {
  left: 20px;
}
.gallery .masert-image .fa-chevron-right {
  right: 0;
}
.gallery .thumbnails {
  width: 100%;
  overflow: hidden;
}
.gallery .thumbnails img {
  border: 2px solid #ccc;
  height: 100px;
  float: left;
  cursor: pointer;
  filter: gray;
  filter: grayscale(1);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gallery .thumbnails img.active {
  border: 2px solid teal;
  opacity: 1;
  filter: none;
  filter: grayscale(0);
}
.gallery .thumbnails img:last-child {
  margin-right: 0 !important;
}
/* end gallery */

/* start product */
.products {
  width: 60%;
  margin: 20px auto;
  overflow: hidden;
  padding: 2px;
}
.products .product {
  min-height: 207px;
  width: 49%;
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.products .product:first-child {
  margin-right: 2%;
}
.products .product h5 {
  margin: 5px 0;
}
.products .product img {
  width: 100%;
  height: 100px;
}
.products .product span {
  display: block;
  color: #888;
  font-size: 15px;
  margin: 0 0 4px;
}
.products .product i {
  display: block;
  padding: 5px;
  background-color: #777;
  margin: 5px 0;
  cursor: pointer;
}
.products .product p {
  text-align: left;
  display: none;
}
/* end product */

/* start gris */
.gid-list {
  width: 50%;
  margin: 0 auto;
  text-align: right;
}
.gid-list i {
  margin-left: 5px;
  cursor: pointer;

  padding: 2px;
}
.gid-list i.active {
  border: 2px solid #333;
}
.grwids {
  margin: 20px auto;
  overflow: hidden;
  padding: 2px;
}

.grwids.grid-view .grwid {
  /* gid*/
  width: calc(92% / 4);
  float: left;
  padding: 10px;
  margin: 1%;
  border: 1px solid #ccc;
  background-color: #fff;
}

.grwids.grid-view .grwid h5 {
  margin: 5px 0;
}
.grwids.grid-view .grwid img {
  width: 100%;
  height: 100px;
}
.grwids.grid-view .grwid span {
  display: block;
  color: #888;
  font-size: 15px;
  margin: 0 0 4px;
}
.grwids.grid-view .grwid i {
  display: block;
  padding: 5px;
  background-color: #777;
  margin: 5px 0;
  cursor: pointer;
}
.grwids.grid-view .grwid p {
  display: none;
}

.grwids.list-view .grwid {
  /*list-view*/
  height: 50px;
  text-align: left;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  margin-bottom: 10px;
}

.grwids.list-view .grwid h5 {
  margin: -5px 0 0 50px;
}
.grwids.list-view .grwid img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  padding: 1px;
}
.grwids.list-view .grwid span {
  color: #888;
  font-size: 15px;
  margin-left: 50px;
}
.grwids.list-view .grwid i {
  display: none;
}
.grwids.list-view .grwid p {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 30px;
}

/* end grids */

/* start error-message */

.error-message {
  width: 0;
  background-color: #ccc;
  margin: auto;
  color: #fff;
  background-color: red;
  display: none;
}
.error-message h5 {
  font-size: 20px;
  padding: 5px 2px;
}

/* end error-message */
/*startour form */
.our-form {
  background-color: rgba(0, 0, 0, 0.01);
  text-align: left;
  padding-left: 20px;
}
.our-form input {
  background-color: transparent;
  margin-right: 5px;
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 3px;
}
.our-form textarea {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: transparent;
}
.our-form .msg {
  display: none;
}
/*end our form */

/* strat colors bidy */
[data-default-color="#8e44ad"] .skin-color {
  color: #8e44ad;
}
[data-default-color="#009688"] {
  color: #009688;
}
[data-default-color="#005a96"] {
  color: #005a96;
}
[data-default-color="#965500"] {
  color: #965500;
}
[data-default-color="#fa8072"] {
  color: #fa8072;
}
/* end colors bidy */
