/* global rools */

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
}
/* global rools */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  list-style: none;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar ul {
  text-align: center;
  margin: 0;
}
.navbar li {
  display: inline-block;
  padding: 10px;
}
.navbar li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.navbar ul li a.active {
  color: #009688;
}
.div {
  height: 1200px;
  background-color: #eee;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 50px;
}
.div h2 {
  margin-top: 0;
}

/* up */
.up {
  position: fixed;
  bottom: 3px;
  right: 3px;
  cursor: pointer;
  display: none;
  background-color: #333;
  color: #ccc;
  border-radius: 50% 50% 0 0;
  outline: none;
  border: none;
}
